{% extends "base.html" %}
{% load staticfiles %}
{% block body %}


<!-- Page Title -->

<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class='col-xs-6 col-sm-4 col-md-4'>
                <h1 style='color:#89CCB1'>Cereal List</h1>
                </div>
                <div class='col-xs-6 col-sm-4 col-md-4'style = 'text-align:center'>
                    <form action="/cereal_list/" method='GET'>
                    <input name='cereal' type='text' size='15' placeholder='Search for a cereal' style=" width:150px; text-align:center">
                    </form>
                </div>
                <div class = 'col-sm-3 col-sm-offset-1 col-md-3 col-md-offset-1' style='text-align:center'>
                    <a href="/cereal_new/" class="btn btn-default btn-md" style = 'background:#89CCB1; float:left; border: black; color:white;'>Create New Cereal</a>
                
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
        {%for c in cereals%}
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <div class="portfolio-image">
                        <img src="{{c.cereal_pic}}" alt='Cereal photo' style='height:300px; width:250px'>
                    </div>
                    <div class="portfolio-info-fade">
                        <ul>
                            <li class="portfolio-project-name">{{c.name}}</li>
                            <li class="read-more"><a href="/cereal_detail/{{c.pk}}" class="btn" style='background:#F06D7B'>Cereal Detail</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        {%endfor%}
        </div>
    </div>
</div>


{% for c in cereal %}
    <a href="http://127.0.0.1:8000/cereal_detail/{{c.pk}}">{{ c.name }}</a>
    </br>
{% endfor %}

{% endblock body %}