{%extends 'base.html' %}
{%load staticfiles %}
{%block body %}

<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 style='color:#89CCB1;'>Cereal Detail</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
        <div class="shop-item col-xs-10 col-xs-offset-1">
            <!-- Image Column -->
            <div class="col-sm-6">
                <div class="portfolio-item"style='margin-top:50px'>
                    <div class="portfolio-image">
                        <a href="#"><img src="{{cereal.cereal_pic}}" alt="{{cereal.name}}"></a>
                    </div>
                </div>
            </div>
            <!-- End Image Column -->
            <!-- Project Info Column -->
            <div class="portfolio-item-description col-sm-6" style='margin-top:15px'>
                <h2>{{cereal.name}}</h2>
                <span><a href="/cereal_edit/{{cereal.pk}}" class="btn btn-default btn-md" style = 'margin-left:0%; margin-top:-25px; background:#F06D7B; color:white;'>Edit Cereal</a></span>
                <span><a href="/cereal_remove/{{cereal.pk}}" class="btn btn-default btn-md" style = 'margin-left:2%; margin-top:-25px; background:#F06D7B; color:white;'>Remove Cereal</a></span>

                </br>
                Manufacturer: <a href="/manufacturer_list/#{{cereal.manufacturer}}"><b>{{cereal.manufacturer}}</b></a></br>
                Type: <b>{{cereal.cereal_type}}</b></br>
                Calories: <b>{{cereal.calories}}</b></br>
                Protein: <b>{{cereal.protein}}</b></br>
                Fat: <b>{{cereal.fat}}</b></br>
                Sodium: <b>{{cereal.sodium}}</b></br>
                Fiber: <b>{{cereal.fiber}}</b></br>
                Carbs: <b>{{cereal.carbs}}</b></br>
                Sugars: <b>{{cereal.sugars}}</b></br>
                Shelf: <b>{{cereal.shelf}}</b></br>
                Potassium: <b>{{cereal.potassium}}</b></br>
                Vitamins and Minerals: <b>{{cereal.vits_and_mins}}</b></br>
                Serving Size Weight: <b>{{cereal.serving_size_weight}}</b></br>
                Cups per Serving: <b>{{cereal.cups_per_serving}}</b>
            </div>
            <!-- End Project Info Column -->
        </div>
    </div>
</div>


{% endblock body %}
