<pre style = 'background:#DBF4F4'>
<span></span><a href= "/cereal_update/">*Update Existing Cereal*</a></span>    <span><a href= "/cereal_delete/">*Delete Existing Cereal*</a>    <span><a href= "/cereal_list/">List of Cereal</a></span>    <span><a href= "/cereal_search/">Search Cereal</a></span>    <span><a href = "/manufacturer_list/">List of Manufacturers</a></span>    <span><a href = "/manufacturer_search/">Search Manufacturers</a></span>
</pre>



<h1 style = 'color:rgb(25,25,112)'>Create New Cereal</h1>

<form action="/cereal_create/" method='POST'>
{% csrf_token %}

<label for="name"> Name:</label>
<input type = "text" value='' name="name" id ="name">
</br>
<label for="cereal_type"> Cereal Type:</label>
<input type="text" value='0' name="cereal_type" id = 'cereal_type'>
</br>
<label for="calories"> Calories:</label>
<input type="number" value='0' name="calories" id = 'calories'>
</br>
<label for="protein"> Protein:</label>
<input type="number" value='0' name="protein" id = 'protein'>
</br>
<label for="fat"> Fat:</label>
<input type="number" value='0' name="fat" id = 'fat'>
</br>
<label for="sodium"> Sodium:</label>
<input type="number" value='0' name="sodium" id = 'sodium'>
</br>
<label for="fiber"> Fiber:</label>
<input type="number" value='0' name="fiber" id = 'fiber'>
</br>
<label for="carbs"> Carbs:</label>
<input type="number" value='0' name="carbs" id = 'carbs'>
</br>
<label for="sugars"> Sugars:</label>
<input type="number" value='0' name="sugars" id = 'sugars'>
</br>
<label for="shelf"> Display Shelf:</label>
<input type="number" value='0' name="shelf" id = 'shelf'>
</br>
<label for="potassium"> Potassium:</label>
<input type="number" value='0' name="potassium" id = 'potassium'>
</br>
<label for="vits_and_mins"> Vitamins and Minerals:</label>
<input type="number" value='0' name="vits_and_mins" id = 'vits_and_mins'>
</br>
<label for="serving_size_weight"> Serving Size Weight:</label>
<input type="number" value='0' name="serving_size_weight" id = 'serving_size_weight'>
</br>
<label for="cups_per_serving"> Cups per Serving:</label>
<input type="number" value='0' name="cups_per_serving" id = 'cups_per_serving'>
</br>

<input type='submit' value='Create'>

<select name='man' id ='man'>
    <option value=''>Select A Manufacturer</option>
    {%for man in manufacturers%}
        <option value="{{man.pk}}">{{man.manufacturer}}</option>
    {%endfor%}
</select>
</form>
{{created}}