{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%load staticfiles%}
{%block body%}



<div class="section section-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Remove Manufacturer</h1>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="section">
            <div class="container">
                <div class="row">
                <div class="row service-wrapper-row">
                    <div class="shop-item col-xs-10 col-xs-offset-1">
                        <!-- Edit Cereal Form -->
                        </br>
                        <div class="contact-form-wrapper">
                            <h3 style='text-align:center;'>Are you sure you want to 
                            remove the manufacturer<em></br>{{man.manufacturer}}</em>?</h3>

                            <form method = 'POST' class="form-horizontal" role="form">
                                {% csrf_token %}
                                <div class="form-group" style='margin:10px'>
                                {% crispy form %}
                                </div>
                            </form>
                        </div>  
                    </div>
                </div>
                </div>
            </div>
        </div>

      
{%endblock body%}