{%extends 'base.html'%}
{% load staticfiles %}
{%block body %}


<h1 style = 'color:rgb(25,25,112)'>Update Manufacturer</h1>

<form action="/manufacturer_update_spec/" method='POST'>
{% csrf_token %}

<h5 style = "margin-bottom:-0px">Select A Manufacturer:</h5>
<select name='man_id' id ='man' multiple>
    {%for man in manufacturers%}
        <option value="{{man.pk}}">{{man.manufacturer}}</option>
    {%endfor%}
</select>

<!--Brings you to cereal specific update page -->
<input type='submit' value='Go to Update Page'>
