<pre style = 'background:#DBF4F4'>
<span><span><a href= "/manufacturer_create/">*Create New Manufacturer*</a></span>    <span><a href= "/manufacturer_update/">*Update Existing Manufacturer*</a>    <span><a href = "/manufacturer_list/">List of Manufacturers</a></span>    <span><a href = "/manufacturer_search/">Search Manufacturers</a></span>    </span><a href= "/cereal_list/">List of Cereal</a></span>    <span><a href= "/cereal_search/">Search Cereal</a></span>
</pre>



<h1 style = 'color:rgb(25,25,112)'>Delete Manufacturer</h1>

<form action="/manufacturer_delete/" method='POST'>
{% csrf_token %}

<h5 style = "margin-bottom:-0px">Select A Manufacturer:</h5>
<select name='man_id' id ='man' multiple>
    {%for m in manufacturers%}
        <option value="{{m.pk}}">{{m.manufacturer}}</option>
    {%endfor%}
</select>

<input type='submit' value='Delete'>