<pre style = 'background:#DBF4F4'>
<span><span><a href= "/manufacturer_update/">*Update Existing Manufacturer*</a></span>    <span><a href= "/manufacturer_delete/">*Delete Existing Manufacturer*</a>    <span><a href = "/manufacturer_list/">List of Manufacturers</a></span>    <span><a href = "/manufacturer_search/">Search Manufacturers</a></span>    </span><a href= "/cereal_list/">List of Cereal</a></span>    <span><a href= "/cereal_search/">Search Cereal</a></span>
</pre>

<h1 style = 'color:rgb(25,25,112)'>Create Manufacturer</h1>
<form action="/manufacturer_create/" method='POST'>
{% csrf_token %}


<label for="manufacturer"> Manufacturer:</label>
<input type="text" name="manufacturer" id = 'manufacturer'>
</br>


<input type='submit' value='Create'>

</form>

{{created}}