{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}

    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                <div class='col-xs-12 col-sm-6 col-md-6'>
                    <h1 style = 'color:#89CCB1'>Manufacturer List</h1>
                </div>
                <div class='col-xs-12 col-sm-6 col-md-6'>
                    <div><a href="/man_new/" class="btn btn-default btn-md" style = 'background:#89CCB1; border: black;color:white;'>Create New Manufacturer</a></div>

                </div>
            </div>
            </div>
        </div>
    </div>
    
    <div class="section">
        <div class="container">     
            {%for m in manufacturers%}
            <div class="row service-wrapper-row">
                <div class="shop-item col-xs-12">
                    <div class="col-sm-5" style='text-align:center; margin-top:70px'>
                        <img src="{{m.man_pic}}" alt='Manufacturer photo'>
                    </div>
                    
                    <div class="col-sm-7" id='{{m.manufacturer}}'>
                    </br>
                        <h2 style= 'margin-top:10px'>{{m.manufacturer}}</h2>
                        <span><a href="/man_edit/{{m.pk}}" class="btn btn-default btn-md" style = 'margin-left:0%; margin-top:-10px; background:#F06D7B; color:white;'>Edit Manufacturer</a></span>
                        <span><a href="/man_remove/{{m.pk}}" class="btn btn-default btn-md" style = 'margin-left:2%; margin-top:-10px; background:#F06D7B; color:white;'>Delete Manufacturer</a></span>

                        <p>
                        <h3>Cereals made by manufacturer:</h3>
                        <ul>
                        {% for cereal in m.cereal_set.all%}
                            <li><a href="http://127.0.0.1:8000/cereal_detail/{{cereal.pk}}">{{ cereal.name }}</a></li>
                            </br>
                        {%endfor%}
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
            {%endfor%}    
        </div>
    </div>


{% endblock body %}

